# ======================
# Build folders
# ======================
/target/
/build/
/out/
# ======================
# Logs
# ======================
*.log
logs/
test-output/
# ======================
# Eclipse
# ======================
.project
.classpath
.settings/
bin/
